<div id="passChange-template">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Change Password</div>
                <div class="panel-body">
                    <form role="form" method="post" action="" accept-charset="UTF-8">
                        <label for="reg-username">Current Password</label>
                        <input type="password" id="current-pass" class="form-control" name="fname" placeholder="Current password">

                        <label for="fname">New Password</label>
                        <input type="password" id="new-pass" class="form-control" name="fname" placeholder="New password">

                        <label for="lname">Confirm Password</label>
                        <input type="password" id="confirm-pass" class="form-control" name="lname" placeholder="Confirm password">

                    </form>
                </div>
                <div class="panel-footer">
                    <center><a href="#/admin/configuration/change" type="button" class="btn btn-primary m-t-10" id="submitbtn" name="submit">Save changes</a></center>
                </div>
            </div>
        </div>
    </div>
</div>