
<div id="home-container" class="row-fluid">

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to <br>Ticket System!</h1>
    <p>Project Management Made Easy!</p>
    <p><a href='#/learn' class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
  <div class="clear"></div>
</div>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>A ticketing system allows IT support to be organized, focused, efficient, and effective</p>
                <p>Ultimately, ticketing systems are a means to support and help you deal with any issues/incidents in your organization, managing the incidents from the moment they’re captured through to their resolution.</p> 
               
            </div>
            <div class="col-sm-4">
                <h2>About Us</h2>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <div class="row text-center">
                <div class="col-sm-3 i">
                        <span class="icon icon-track"></span>
                        <h3>
                                <a href="#" title="#">Stay on Track</a>
                        </h3>
                        <p>Ticket System helps you manage your projects.</p>
                </div>
                <div class="col-sm-3 i">
                        <span class="icon icon-share"></span>
                        <h3>
                                <a href="#" title="#">Share & Collaborate</a>
                        </h3>
                        <p>Share ideas, informations, comments & more with your team.</p>
                </div>
                <div class="col-sm-3 i">
                        <span class="icon icon-work"></span>
                        <h3>
                                <a href="#" title="#">Work Faster</a>
                        </h3>
                        <p>Help your team stay focused, plan effectively and meet deadlines.</p>
                </div>
                <div class="col-sm-3 i">
                        <span class="icon icon-technologies"></span>
                        <h3>
                                <a href="#" title="#">Access Anywhere</a>
                        </h3>
                        <p>Ticket System is web based so your team will be able to login from anywhere.</p>
                </div>
        </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                   
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
</div>
