<div id="users-container" class="row-fluid">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center">Users</h4>
            </div>
            <div>
                {{#each user}}
                <div class="users">
                    <a href="#/user/{{userName}}">
                        <p><strong><i class="fa fa-user-o"></i> {{userName}}</strong></p>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
