        /*hidden elements*/
        
        .hidden {
            display: none;
        }
        
        .toast {
            margin-top: 100px;
        }
        /*NAVBAR*/
        
        .navbar-brand {
            width: 200px;
            height: 50px;
            background-size: 50px;
        }
        
        .navbar-brand img {
            width: 100%;
            margin-top: -27px;
        }
        
        .nav-tabs {
            display: inline-block;
            border-bottom: none;
            padding-top: 15px;
            font-weight: bold;
        }
        
        .nav-tabs>li>a,
        .nav-tabs>li>a:hover,
        .nav-tabs>li>a:focus,
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:hover,
        .nav-tabs>li.active>a:focus {
            border: none;
            border-radius: 0;
        }
        
        .nav-list {
            border-bottom: 1px solid #eee;
        }
        
        .nav-list>li {
            padding: 20px 15px 15px;
        }
        
        .nav-list>li:last-child {
            border-right: 0px solid #eee;
        }
        
        .nav-list>li>a:hover {
            text-decoration: none;
        }
        
        .nav-list>li>a>span {
            display: block;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .mega-dropdown {
            position: static !important;
        }
        
        .mega-dropdown-menu {
            padding: 20px 15px 15px;
            text-align: center;
            width: 100%;
        }
        
        #login-dp {
            min-width: 250px;
            padding: 14px 14px 0;
            overflow: hidden;
            background-color: rgba(255, 255, 255, .8);
        }
        
        #login-dp .help-block {
            font-size: 12px
        }
        
        #login-dp .bottom {
            background-color: rgba(255, 255, 255, .8);
            border-top: 1px solid #ddd;
            clear: both;
            padding: 14px;
        }
        
        #login-dp .social-buttons {
            margin: 12px 0
        }
        
        #login-dp .social-buttons a {
            width: 49%;
        }
        
        #login-dp .form-group {
            margin-bottom: 10px;
        }
        
        .btn-fb {
            color: #fff;
            background-color: #3b5998;
        }
        
        .btn-fb:hover {
            color: #fff;
            background-color: #496ebc
        }
        
        .btn-gp {
            color: #fff;
            background-color: #cf4332;
        }
        
        .btn-gp:hover {
            color: #fff;
            background-color: #f15745;
        }
        
        @media(max-width:768px) {
            #login-dp {
                background-color: inherit;
                color: #fff;
            }
            #login-dp .bottom {
                background-color: inherit;
                border-top: 0 none;
            }
        }
        
        .navbar-login {
            width: 305px;
            padding: 10px;
            padding-bottom: 0px;
        }
        
        .navbar-login-session {
            padding: 10px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        
        .icon-size {
            font-size: 87px;
        }
        
        .navbar-brand {
            width: 200px;
            height: 50px;
            background-size: 50px;
            padding-top: 7px;
        }
        
        .navbar-nav {
            padding-left: 15px;
        }
        
        .navbar-default .navbar-collapse,
        .navbar-default .navbar-form {
            border-color: #00486c;
        }
        
        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            background-color: #00486c;
        }
        
        .navbar-default .navbar-nav>.active>a,
        .navbar-default .navbar-nav>.active>a:hover,
        .navbar-default .navbar-nav>.active>a:focus {
            color: white;
            background-color: #428bca;
        }
        
        .navbar-default .navbar-nav>li>a {
            color: white;
        }
        
        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0px;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0px;
            margin: 2px 0px 0px;
            font-size: 14px;
            list-style: none;
            background-color: white;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.14902);
            border-image-source: initial;
            border-image-slice: initial;
            border-image-width: initial;
            border-image-outset: initial;
            border-image-repeat: initial;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;
        }
        
        .nav-list>li {
            padding: 20px 15px 15px;
            border-left: 0px;
        }
        
        .nav-list {
            border-bottom: 0px;
        }
        
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:hover,
        .nav-tabs>li.active>a:focus {
            color: white;
            cursor: default;
            background-color: #428bca;
        }
        
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:hover,
        .nav-tabs>li.active>a:focus {
            color: black;
            cursor: default;
            background-color: rgb(255, 255, 255);
            border: solid black 1px;
        }
        
        body {
            padding-top: 20px;
        }
        
        #myCarousel .nav a small {
            display: block;
        }
        
        #myCarousel .nav {
            background: #eee;
        }
        
        .nav-justified>li>a {
            border-radius: 0px;
        }
        
        .nav-pills>li[data-slide-to="0"].active a {
            background-color: #16a085;
        }
        
        .nav-pills>li[data-slide-to="1"].active a {
            background-color: #e67e22;
        }
        
        .nav-pills>li[data-slide-to="2"].active a {
            background-color: #2980b9;
        }
        
        .nav-pills>li[data-slide-to="3"].active a {
            background-color: #8e44ad;
        }
        /*Tickets Page*/
        
        #tickets-container .panel {
            background: whitesmoke;
            border-color: transparent;
        }
        
        #tickets-container .panel-heading {
            padding: 3px 15px;
        }
        
        #tickets-container .panel-body {
            padding: 5px 0;
        }
        
        #tickets-container .panel-body>div.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        
        #tickets-container #todo-container .thumbnail {
            border-left: 5px solid #ec971f;
        }
        
        #tickets-container #progress-container .thumbnail {
            border-left: 5px solid red;
        }
        
        #tickets-container #done-container .thumbnail {
            border-left: 5px solid #4cae4c;
        }
        
        #tickets-container .thumbnail .caption {
            border-top: 1px solid #ddd;
        }
        
        #tickets-container .thumbnail .text-right span.icon-size-xs {
            font-size: 26px;
            background: #dddddd;
            padding: 5px;
            border-radius: 5px;
            color: #4b4a4a;
        }
        
        #tickets-container .nopadding {
            padding-left: 0;
            padding-right: 0;
        }
        
        #tickets-container #todo-container .panel-heading {
            border-top-right-radius: 0;
        }
        
        #tickets-container #progress-container .panel-heading {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
        
        #tickets-container #done-container .panel-heading {
            border-top-left-radius: 0;
        }
        /*// register*/
        
        #register-template .m-t-10 {
            margin-top: 10px;
        }